* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  background: #485e74;
  color: #fff;
  line-height: 1.6;
  font-size: 16px;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: grid;
  width: 100%;
  grid-template-areas:
    "header"
    "intro"
    "aboutMe"
    "featuredWork"
    "footer";
}

.header-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  background-image: url('../images/pyramids_header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-area: header;
}

/***Dropdown Menu***/
.dropbtn {
    background-color: transparent;
    color: #fff;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    /* background-color: #f1f1f1; */
    min-width: 80px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 1;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
  background-color: #333;
}

.show {
  display:block;
}

/***Top-nav***/
.top-nav {
  display: none;
}

.top-nav li{
  display: inline;
  padding: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}

.top-nav a {
  font-size: 1.3em;
  text-decoration: none;
  color: #fff;
}

.top-nav li:hover {
  background-color: #333;
}

/***Quote***/
.quote {
  font-size: 1.7em;
  text-decoration: underline;
  text-align: center;
  padding: 0;
  margin-top: 50px;
}

.quote h3 {
  margin: 0 0 10px 0;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

/***Social Media***/
.socialMedia {
  text-align: right;
}

.socialMedia ul {
  padding: 0 15px 0 0;
}

.socialMedia li{
  list-style: none;
  display: inline;
}

.socialMedia li img {
  width: 30px;
  height: 30px;
}

.socialMedia img:hover {
  transform: scale(1.3);
}

.socialMedia img {
  transition: .2s ease;
}

.intro {
  grid-area: intro;
  background-color: #0e1114;
  text-align: center;
  padding: 15px;
}

.intro span {
  color: #888;
  font-weight: 500;
}

.about-me {
  grid-area: aboutMe;
  background-color: #f0c382;
  font-weight: 500;
}

.about-me h1 {
  font-style: italic;
  font-size: 2.5em;
  font-family: Blippo, fantasy, Comic Sans MS;
  text-align: left;
  padding: 15px 0 0 20px;
  margin-bottom: 0;
  color: #47291b;
}

.about-me p {
  padding: 0 20px 20px 20px;
  margin: 0;
  font-size: 1.1em;
}

.about-me img {
  width: 100%;
}


/*** WORK ***/
.featured-work {
  grid-area: featuredWork;
  background-color: #705d5f;
  text-align: center;
  padding: 15px;
}

.featured-work img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  grid-column: 1 / 3;
}

.overlay{
  position:absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #0e1114;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity .5s;
}

.overlay_text{
  color: #fff;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.card{
  position: relative;
}

.featured-work .card:hover .overlay{
  opacity: 1;
}

.link{
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid #f0c382;
  border-radius: 290486px;
  padding: .8rem;
  font-weight: 400;
  letter-spacing: 2px;
  transition: all .3s ease-in-out;
}

.link:hover{
  background-color: #f0c382;
  border-radius: 290486px;
}

.footer {
  grid-area: footer;
  text-align: center;
  color: #0e1114;
  font-weight: 500;
  font-size: 1.1em;
  background-image: url('../images/footer_bg.jpg');
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-wrapper {
  /* box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7); */
}

.footer-wrapper > * {
  padding: 1em;
}

/***Form Styles***/
.contact {
  padding-bottom: 0;
}

.contact h3{
  margin: 0 0 10px 0;
  font-family: Blippo, fantasy, Comic Sans MS;
}

.contact p {
  margin: 40px 0 0 0;
}

.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  text-align: left;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}

.contact form label {
  display: block;
}

.contact form p {
  margin: 0;
}

.contact form .full {
  grid-column: 1 / 3;
}

.contact form button,
.contact form input,
.contact form textarea {
  width: 100%;
  padding: .7em;
}

.contact form button {
  background-color: #f0c382;
  border: 0;
  text-transform: uppercase;
}

.contact form button:hover,
.contact form button:focus {
  background-color: #333;
  color: #fff;
  outline: 0;
  transition: background-color 1s ease-out;
  cursor: pointer;
}

/***Breakpoints***/

@media screen and (min-width: 700px) {

  .header-wrapper {
    grid-template-rows: repeat(auto-fit, minmax(600px, 1fr));
  }

  .dropbtn {
    display: none;
  }

  .dropdown-content  {
      display: none;
  }

  .top-nav {
    display: inline;
    grid-column: 1 / 2;
    grid-row: 1;
  }

  .quote {
    grid-column: 2 / 3;
    grid-row: 1;
    font-size: 2.8em;
    margin-top: 150px;
  }

  .socialMedia {
    grid-column: 3 / 4;
    grid-row: 1;
  }

  .socialMedia li img {
    width: 50px;
    height: 50px;
  }

  .intro {
    padding: 60px;
  }

  .intro h2 {
    font-size: 3em;
  }

  .featured-work {
    display: grid;
    grid-template-columns: repeat(3, 1fr); //was 4
    grid-auto-rows: 100px 1fr 1fr;
    grid-gap: 20px;
  }

  .featured-work h1 {
    grid-column: 1 / -1;
    font-size: 2.5em;
    margin: 0;
    align-self: center;
  }

  .contact h3 {
    font-size: 4em;
    margin-top: 20px;
  }

  .contact {
    padding-top: 25px;
    grid-column: 2 / 4;
  }

  .footer-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
  }

}

@media screen and (min-width: 701px) and (max-width: 1024px) {
  .header-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit, minmax(600px, 1fr));
  }

  .top-nav {
    display: inline;
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .quote {
    margin-right: 90px;
  }

  .about-me h1 {
    grid-column: 2 /3;
    grid-row: 1;
    font-size: 2.9em;
    margin: 0;
    padding: 0 100px 0 60px;
  }

  .about-me p {
    grid-column: 2 /3;
    grid-row: 1;
    font-size: 1.9em;
    padding: 0 100px 70px 60px;
    margin: 0;
  }

}

@media screen and (min-width: 1025px) {
  .top-nav {
    grid-column: 1 / -1;
  }

  .about-me {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 200px 1fr;
    align-items: center;
    justify-content: center;
  }

  .about-me img {
    grid-row: 1 / 3;
  }

  .about-me h1 {
    grid-column: 2 /3;
    grid-row: 1;
    align-self: flex-end;
    padding: 0 100px 0 60px;
  }

  .about-me p {
    grid-column: 2 /3;
    grid-row: 2;
    font-size: 1.5em;
    align-self: flex-start;
    padding: 0 100px 0 60px;
  }

}
